
@import "../1-settings/_settings.colors.scss";

// Sub Skills
.c-sub-skills {
	max-width: 35rem;
	margin-bottom: vr(2);
	transition: all 200ms ease-in-out;

	&.is-initial {
		visibility: hidden;
		height: 0;
		margin: 0;
	}
}

	.c-sub-skills__item {
		margin-right: 1.5rem;
		cursor: pointer;

		&.is-active {
			color: $black;
		}

		&:hover {
			color: $color-link-hover;
		}
	}

// Display Skills
.c-show-skills {
	flex-flow: row wrap;
	max-width: 51rem;
}

	.c-show-skills__figure {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		width: 100%;
		cursor: pointer;
		margin-bottom: vr(1);

		@include mappy-bp(medium){
			// width: 50%;
			// margin-bottom: 0;
		}
		@include mappy-bp(wide){
			width: initial;
			margin-left: initial;
			margin-right: initial;
			margin-bottom: 0;
		}
	}
	.c-show-skills.is-initial .c-show-skills__figure {
		margin-bottom: vr(2);

		&:nth-child(4) {
			margin-bottom: 0;
		}

		@include mappy-bp(small) {
			width: 50%;

			&:nth-child(3) {
				margin-bottom: 0;
			}
		}

		@include mappy-bp(large) {
			width: initial;
			margin-bottom: 0;
		}
	}

	.c-show-skills__sep {
		width: 2rem;
		height: 2px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: vr(1);
		background-color: rgba(0, 0, 0, 0.2);

		@include mappy-bp(wide) {
			width: 2px;
			height: vr(2);
		}
	}
	.c-show-skills.is-initial .c-show-skills__sep {
    display: none;
		visibility: hidden;
		height: 0;
		margin: 0;
	}

	.c-show-skills__desc {
		width: 100%;
		height: initial;

		@include mappy-bp(wide){
			width: 65%;
		}
	}
	.c-show-skills.is-initial .c-show-skills__desc {
		visibility: hidden;
		height: 0;
		margin: 0;
	}














