
@import "../1-settings/_settings.colors.scss";

.c-contact {
  position: relative;
  max-width: 34rem;
  padding-bottom: vr(1.5);
}

  .c-contact__item {
    width: 100%;
    
    @include mappy-bp(595px) {
      width: initial;
    }
  }