
@import "../1-settings/_settings.colors.scss";

// ==========================================================================
// General Icon Styles
// ==========================================================================

.hide-svg-defs {
	width: 0;
	height: 0;
	position: absolute;
}


// ==========================================================================
// SVG Styles
// ==========================================================================

/* Hero -------------------- */

.i-search {
  width: 1.5rem;
  height: 1rem;
  cursor: pointer;
}

  #search-stick {
    fill: #fff;
  }

.i-menu {
  width: 2rem;
  height: 0.8rem;
  cursor: pointer;
  fill: $white;

  &:hover {
    fill: $grey;
  }
}

/* Service Icons -------------------- */

.i-frontend,
.i-backend,
.i-performance,
.i-seo {
	width: 5rem;
	height: 3.5rem;
	margin-bottom: 1rem;

    @include mappy-bp(medium) {
        // height: 4rem;
    }
}

/* Card Icons -------------------- */

.i-glasses {
    width: 1.5rem;
    height: 0.5rem;
    fill: $grey-light;
}

.i-plane {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.i-clock {
    width: 1.1rem;
    height: 0.65rem;
    fill: $grey-light;
}

.c-card-proj a:hover .i-glasses,
.c-card-prof a:hover .i-glasses,
.c-card-blog a:hover .i-glasses,
.c-card-prof a:hover .i-plane,
.c-card-blog a:hover .i-clock, {
    fill: $black;
}

.i-cloud {
  width: 2rem;
  height: 2rem;
}

/* Contact Icons -------------------- */

.i-email {
  width: 4rem;
  height: 4rem;
  margin-bottom: vr(1/2);
}

.i-form,
.i-phone {
    width: 3rem;
    height: 3rem;
    margin-bottom: vr(1/2);

    // @include mappy-bp(medium) {
    //     height: 4rem;
    // }
}

// make general rule for different groups of icons?
.i-instagram,
.i-dribbble,
.i-bulb,
.i-pen {
  display: none;

  @include mappy-bp(small) {
    display: initial;
  }
}

.i-instagram {
    width: 1.2rem;
    height: 1.2rem;
}

.i-dribbble {
    width: 1.2rem;
    height: 1.2rem;
}

.i-bulb {
    width: 1.2rem;
    height: 1.2rem;
}

.i-pen {
    width: 1.2rem;
    height: 1.2rem;
}

.o-ref a:hover .i-instagram,
.o-ref a:hover .i-dribbble,
.o-ref a:hover .i-bulb,
.o-ref a:hover .i-pen {
    fill: $grey-light;
}

/* Misc Icons -------------------- */

// Dots
.i-dot,
.i-dot--small,
.i-dot--narrow {
  fill: $grey-lightest;
}

.i-dot {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0 1rem;
}

  .i-dot--small {
    display: none;
    width: 0.5rem;
    height: 0.23rem;
    margin: 0 vr(1.5);

    @include mappy-bp(835px) { // tweakpoint
      display: block;
    }
  }

  .i-dot--narrow {
    width: 0.25rem;
    height: 0.25rem;
    margin: 0 vr(1/2);
  }

// Github
.i-github {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: vr(1/2);
    fill: $grey-lightest;
}

// Particle
.i-particle {
    font-size: 180px;
    font-family: "arial", sans-serif;
    position: absolute;
    visibility: hidden;
    background: url($path-img + '/svg/petel.svg');
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}


