
@import "../1-settings/_settings.colors.scss";

::-webkit-input-placeholder {
   color: $color-text-light;
}
:-moz-placeholder { /* Firefox 18- */
   color: $color-text-light;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $color-text-light;
}
:-ms-input-placeholder {  
   color: $color-text-light; 
}

.form-wrap {
	margin-top: vr(2);
}

form {

}

input,
textarea {
	background-color: #af404c;
	border: none;
	padding: 1.5rem;
	width: 100%;
}

input {
	height: vr(1);
}

textarea {
	padding: 0.75rem;
}