
@import "../1-settings/_settings.colors.scss";

/* General Font Styles -------------------- */

// Vertical Rythm Setup
h1, h2, h3, h4, h5, h6, hgroup, p {
	margin-top: 0;
	margin-bottom: vr(1);
}

h1, h2, h3 {
	text-transform: uppercase;
}

// OCULUS / EXPERIENCE TRAVEL
h1 {
	@include typi($h1-map);
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-weight: bold;
	letter-spacing: 0.5rem;
	color: $color-text-light;
	margin-top: vr(1);
	margin-bottom: vr(0.25);
	
	@include mappy-bp(medium) {
		letter-spacing: 0.7rem;
		// margin-top: vr(2);
	}
	@include mappy-bp(large) {
		// letter-spacing: 0.5rem;
		// margin-top: vr(2.5);
	}
}

// IMPRESSIONEN
h2,
.e-serif-big {
	@include typi($h2-map);
	font-family: 'Playfair Display', Helvetica, Arial, serif;
	font-weight: normal;
	letter-spacing: 0.5rem;
	color: $color-text-dark;
	margin-bottom: vr(1);
	
	@include mappy-bp(medium) {
		letter-spacing: 0.75rem;
	}
	@include mappy-bp(medium) {
		// letter-spacing: 1rem;
	}
}

// TRUE STORY
h3,
.e-serif-med {
	@include typi($h3-map);
	font-weight: normal;
	letter-spacing: 0.24rem;
	text-transform: uppercase;
}

// TANDEM NETWORK
h4,
.e-sans-med {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	@include typi($h4-map);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	color: $color-text-dark;
	margin-bottom: vr(1/4);
}

// Default Text
p,
.e-serif-def {
	@include typi($default-map);
	letter-spacing: 0.055rem;
}




