
@import "../1-settings/_settings.colors.scss";

/* Pseudo-classes ------------------ */

a {
	&:link {
	    color: $color-link-default;
	    text-decoration: none;
	}
	&:visited {
	    color: $color-link-visited;
	}
	&:hover {
	    color: $color-link-hover;
	}
}