
// Border Radius
$br: 10px;

// Asset Paths
$path-img  : '../images';
$path-font : '../fonts';

// Search keywords
  // unique font-size
  // unique line-height
  // unique letter-spacing
  // tweakpoint variable
  // tweakpoint
