
@import '../../node_modules/mappy-breakpoints/mappy-breakpoints';

// 40px Ungenauigkeit?

// Globale Breakpoints
$breakpoints: (
  'small'     : 490px,
  'medium'    : 640px,
  'large'     : 990px,
  'wide'      : 1200px,
  'mega'      : 1500px,
  'ultra'     : 1980px
);

// Lokale Tweakpoints in den einzelnen Komponenten...

// Mappy Queries (zur Hilfe)
$mappy-queries: (
  phone: mappy-bp(small),
  tablet: mappy-bp(0px large),
  numbers: mappy-bp(960px 1200px),
  features: mappy-bp(small orientation portrait),
  type: mappy-bp(small, $type: screen)
);