
/* Type Classes ------------------ */

// INSTAGRAM
.u-serif-sm {
  @include typi($serif-sm-map);
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

// Unser Ziel
.u-sans-sm {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  @include typi($sans-sm-map);
  letter-spacing: 0.125rem;
}

// FRONTEND
.u-serif-between {
  
}

// USER EXPERIENCE DESIGN
.u-category {
  @include typi($serif-sm-map);
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

/* Type Misc ------------------ */

.u-bold {
  font-weight: bold;
}

.u-normal {
  font-weight: normal;
}

.u-uppercase {
  text-transform: uppercase;
}