
// Max-Widths
.u-mw-extra-small {
	max-width: 20rem;
	
	@include mappy-bp(0 small) {
		max-width: 10rem;
	}
}
.u-mw-ultra-small {
	max-width: 15rem;
	
	@include mappy-bp(0 small) {
		max-width: 15rem;
	}
}
.u-mw-small {
	max-width: 34rem;
	
	@include mappy-bp(0 small) {
		max-width: 20rem;
	}
}
.u-mw-medium {
	max-width: 40rem;
}
.u-mw-large {
	max-width: 50rem;
}
.u-mw-extra-large {
	max-width: 60rem;
}

// Widths
.u-w-15 {
	width: 15%;
}