
@import "../1-settings/_settings.colors.scss";

/* Text -------------------- */

.u-txt-black {
  color: $black;
}
.u-txt-white {
  color: $white;
}
.u-txt-grey-darkest {
  color: $grey-darkest;
}
.u-txt-grey-dark {
  color: $grey-dark;
}
.u-txt-grey {
  color: $grey;
}
.u-txt-grey-light {
  color: $grey-light;
}
.u-txt-grey-lightest {
  color: $grey-lightest;
}
.u-txt-green {
  color: #2fde8f;
}

/* Backgrounds -------------------- */

// General Backgrounds
.u-bg-black {
  background-color: $black;
}
.u-bg-white {
  background-color: $white;
}
.u-bg-grey-darkest {
  background-color: $grey-darkest;
}
.u-bg-grey-dark {
  background-color: $grey-dark;
}
.u-bg-grey {
  background-color: $grey;
}
.u-bg-grey-light {
  background-color: $grey-light;
}
.u-bg-grey-lightest {
  background-color: $grey-lightest;
}

// Special Backgrounds
.u-bg-green {
  background-color: #2fde8f;
}
.u-bg-vanilla {
  background-color: $vanilla;
}
.u-bg-dark {
  background-color: #3a3a3a;
}


