
@import "../1-settings/_settings.colors.scss";

/* Helper Classes ------------------ */

.u-txt-center {
	text-align: center;
}
.u-txt-left {
	text-align: left;
}
.u-txt-right {
	text-align: right;
}

.u-centered,
.u-centered--b {
  margin-left: auto;
  margin-right: auto;
}
.u-centered--b {
  display: block;
}
