
// object specific styles
.o-slick .oculus {
  background: url($path-img + '/bg/oculus.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.o-slick .letter {
  background: url($path-img + '/bg/letter.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.o-slick-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

  .o-slick-slide__title {
    position: absolute;
    width: 80%;
    left: 50%;
    bottom: 8%;
    transform: translate(-50%, 0);
    z-index: 100;

    @include mappy-bp(small) {
      transform: translate(-50%, 0);
    }

    h3 {
      display: none;

      @include mappy-bp(small) {
        display: initial;
      }
    }
  }

// changes on original slick slider code
.slick-slide {
  position: relative;
}

.slick-dotted.slick-slider {
  margin: 0;
}
.slick-dots {
  bottom: 22%;

  li {
    width: 10px;
  }
}
