
@import "../1-settings/_settings.colors.scss";

.o-ref {
  // max-width: 45rem;
  // padding: vr(1) 0;
}

  .o-ref__item {
    width: 100%;
    margin-bottom: vr(0.75);

    @include mappy-bp(835px) { // tweakpoint
      width: initial;
      margin-bottom: 0;
    }
  }
